@{
    ViewData["Title"] = "Tablica";
}
<div class="container">
    <div class="newpost">
        <div class="inputDiv">
            <input class="textInput" type="text"/>
            <button class="hoverButton">Dodaj</button>
        </div>
        <br />
    </div>
    <div style=""></div>
    <div class="segment">
        <!--posty
            Fasdfasdfasdf
            sadfgasdf
        -->
        asdfasdf
    </div>
    <div class="segment">
        <!--posty
            Fasdfasdfasdf
            sadfgasdf
        -->
        asdfasdf
    </div>
    <div class="segment">
        <!--posty
            Fasdfasdfasdf
            sadfgasdf
        -->
        asdfasdf
    </div>
</div>
