@{
    ViewData["Title"] = "Tablica";
    string username = User.Identity.Name;
}
<div class="container">
    <div class="newpost">
        <div class="inputDiv">
            <input class="textInput" type="text"/>
            <button class="hoverButton">Dodaj</button>
        </div>
        <br />
    </div>
    <div style=""></div>
    <div class="segment">
        <label for="authorName">Imię autora:</label>
        <!--posty
            
        -->
        <div id="authorText">wert</div>
    </div>
</div>
