@{
    ViewData["Title"] = "Posty użytkownika";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="post">
        <div class="segment">
        </div>
        <button class="postButton editButton">Edytuj</button>
        <button class="postButton deleteButton">Usuń</button>
    </div>
</div>